@using DerethForever.Web.Controllers
@model List<DerethForever.Web.Models.Weenie.WeenieChange>

@if (Model == null || Model.Count < 1)
{
    <div class="alert alert-info">
        There are no changes to review.
    </div>
}
else
{
    for (int i = 0; i < Model.Count; i++)
    {
        <div class="well">
            <div class="row">
                <div class="col-md-1">
                    <div class="icon">
                        <img src="@Url.Action("GetFullyLayeredPngIcon", "Resource", new { weenieClassId = Convert.ToUInt32(Model[i].Weenie.WeenieClassId) })" />
                    </div>
                </div>
                <div class="col-md-6">
                    @Html.DisplayFor(m => m[i].Weenie.Name)
                    (@Html.DisplayFor(m => m[i].Weenie.WeenieClassId))<br/>
                    Submitted by @Html.DisplayFor(m => m[i].UserName) on @Html.DisplayFor(m => m[i].SubmissionTimeDisplay)<br/>
                    <br/>
                    @if (BaseController.CurrentUser.AccountGuid == Model[i].UserGuid)
                    {
                        if (Model[i].Submitted)
                        {
                            @Html.ActionLink("Withdraw Submission", "WithdrawSubmission", "Weenie", new { id = Model[i].Weenie.WeenieClassId }, new {@class = "btn btn-primary"})
                        }
                        else
                        {
                            @Html.ActionLink("Submit for Review", "CreateSubmission", "Weenie", new { id = Model[i].Weenie.WeenieClassId }, new {@class = "btn btn-primary"})
                        }
                    }
                    @Html.ActionLink("Delete Changes", "DeleteSandboxWeenie", "Weenie", new { id = Model[i].Weenie.WeenieClassId }, new {@class = "btn btn-primary"})
                </div>
                <div class="col-md-5">
                    <ul>
                        <li>@Html.ActionLink("Edit", "Edit", "Weenie", new { id = Model[i].Weenie.WeenieClassId }, null )</li>
                        <li>Download as @Html.ActionLink("Dereth Forever JSON", "DownloadSandboxToDfJson", "Weenie", new { id = Model[i].Weenie.WeenieClassId, userGuid = Model[i].UserGuid }, null)
                            (download @Html.ActionLink("original", "DownloadOriginalToDfJson", "Weenie", new { id = Model[i].Weenie.WeenieClassId }, null))</li>
                        <li>Download as @Html.ActionLink("Phat JSON", "DownloadSandboxToPhatJson", "Weenie", new { id = Model[i].Weenie.WeenieClassId, userGuid = Model[i].UserGuid }, null)
                            (download @Html.ActionLink("original", "DownloadOriginalToPhatJson", "Weenie", new { id = Model[i].Weenie.WeenieClassId }, null))</li>
                        @if (BaseController.CurrentUser.ManagedWorlds.Count > 0)
                        {
                            <li>@Html.ActionLink("Save Directly", "SendToDfServer", "Weenie", new {id = Model[i].Weenie.WeenieClassId, userGuid = Model[i].UserGuid}, null) to DF Server</li>
                            <li>@Html.ActionLink("Preview", "SendToDfServer", "Weenie", new {id = Model[i].Weenie.WeenieClassId, userGuid = Model[i].UserGuid, preview = true}, null) on DF Server</li>
                        }
                    </ul>
                </div>
            </div>
            <br/>
            @Html.Label("Discussion")<br/>
            @for(int j = 0; j < (Model[i].Discussion?.Count ?? 0); j++)
            {
                <div class="row">
                    <div class="col-md-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @Html.Raw(Html.Encode(Model[i].Discussion[j].UserName + " on " + Model[i].Discussion[j].Created.ToString("g")))
                            </div>
                            <div class="panel-body">
                                @Html.Raw(Html.Encode(Model[i].Discussion[j].Comment))
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if ((Model[i].Discussion?.Count ?? 0) == 0)
            {
                <div class="row">
                    <div class="col-md-10">
                        No comments.
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-10">
                    @using (Html.BeginForm("AddDiscussionComment", "Weenie", FormMethod.Post))
                    {
                        <input type="hidden" name="source" value="Sandbox"/>
                        <input type="hidden" name="userGuid" value="@(Model[i].UserGuid)"/>
                        <input type="hidden" name="weenieClassId" value="@(Model[i].Weenie.WeenieClassId)"/>
                        <textarea name="discussionComment" class="form-control" cols="25" rows="3"></textarea>
                        <br/>
                        <input type="submit" class="btn btn-primary" value="Add Comment" />
                    }
                </div>
            </div>
        </div>
    }
}
