@{
    ViewBag.Title = "Home Page";
}

<div style="background-color: #444444 !important" class="jumbotron">
    <img src="@Url.Content("~/images/lifestone-xl.png")" height="550px" >
    <p></p>
    <p class="lead text-light">Web based Server Control Panel and Content editing system for AC Emulators</p>
</div>

